@model MediaCollection.Database.Movie

@{
    ViewData["Title"] = "Details";
}

@{
    string imgSrc = "";

    if (Model.Poster != null)
    {
        var base64 = Convert.ToBase64String(Model.Poster);
        imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
    }
}

@{
    int Rating = 10;
}

<div class="container" lang="en">
    <div class="row bg-dark text-light">
        <div class="col-sm-1">
            <h1>
                <a href="~/images/add_to_playlist.png">
                    <img src="~/images/add_to_playlist.png" class="margin:auto display:block img-fluid" alt="Add to playlist" onmouseover="PopStateEvent" />
                </a>
            </h1>
        </div>
        <div class="col-sm-5">
            <h1>@Model.Title (@Model.ReleaseDate.Year)</h1>
            <p>@Model.Duration.Hours h @Model.Duration.Minutes minutes &nbsp; | &nbsp; @Model.Genre   &nbsp; | &nbsp; @Model.ReleaseDate.ToString("dd MMMM yyyy")</p>
        </div>
        <div class="col-sm-1">
            <h1>@Rating</h1>
            <h1 class="small">/10</h1>
        </div>
        <div class="col-sm-1">
            <h1 class="small text-right">RATE THIS</h1>
        </div>
        <div class="col-sm-4 bg-info">

        </div>
    </div>  
    <div class="row">
        <div class="col-sm-3">
            <p><img src="@imgSrc" class="display:block img-fluid" /></p>
        </div>
        <div class="col-sm-5">
            <p>@Model.Synopsis</p>
        </div>
        <div class="col-sm-4 bg-info">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 bg-dark text-light">
            <p>Director(s): @Model.Director</p>
        </div>
        <div class="col-sm-4 bg-info">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 bg-dark text-light">
            <p>Cast: @Model.Cast</p>
        </div>
        <div class="col-sm-4 bg-info">

        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.MovieID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
