@model IEnumerable<MediaCollection.Database.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Movie Index</h1>

<p>
    @if (User.Identity.Name != null)
    {
        <input type="submit" value="Add New Movie" class="btn btn-info" onclick="location.href='@Url.Action("Create", "Movies")'" />
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration.TotalMinutes) minutes
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate.Year)
            </td>            
            <td>
                <a asp-action="Details" asp-route-id="@item.MovieID">Details |</a>
                @if (User.Identity.Name != null)
                {
                    <a asp-action="Edit" asp-route-id="@item.MovieID">Edit |</a>                    
                    <a asp-action="Delete" asp-route-id="@item.MovieID">Delete </a>
                 }
            </td>
        </tr>
}
    </tbody>
</table>
